<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
    {{{body}}}
</body>
<footer>
    <p>Source: <a href="https://github.com/freddyhm/myrepostats">https://github.com/freddyhm/myrepostats</a></p>
</footer>
</html>